<div class = "row">
	<% @cats.each do |cat| %>

		<div class = "col-12">
			<br/>
			<h1 style="text-align: center;"><%= cat.heading %></h1>
			<br/>
			<div class="row row-cols-1 row-cols-md-3 g-4">
				<% @products.each do |product| %>
					<% if product.category == cat %>
						<div class="col">
							<% if product.sold_out == false %>
								<div class="card h-100 remove_link_color" style="max-width: 540px; text-decoration:none;" id="id">
									<div class = "product-image">
						  				<img class = "contain" src="/<%= product.name%>.jpg" class="img-thumbnail img-responsive img-fluid" alt="...">
						  			</div>
							  		<div class="card-body">
									    <h5 class="card-title"><%= product.name %></h5>
									    <h6><%= number_to_currency(product.price)%> </h6>
									    <input type="hidden" id="hidden_price_field" >
									    <p id="priceField"></p>
									    <%= link_to "View", product, class:"btn btn-secondary" %>
							  		</div>
								</div>
							<% else %>
								<div class="card mb-3 text-white bg-secondary" style="max-width: 540px;">
								    <div class = "product-image">
						  				<img src="/<%= product.name%>.jpg" class="img-thumbnail img-responsive img-fluid" alt="...">
						  			</div>
								    <div class="card-body">
									    <h5 class="card-title"><%= product.name %></h5>
									    <span><%= product.price %> </span>
									    <br/>
							  		</div>
							  		<%= form_for @order_item, class:'form-group', remote: true  do |f|%>
										<%= f.hidden_field :product_id, value: product.id %>
									<%end%>
									<div class = 'text-center'>
										<p> Sold Out </p><br/>
									</div>
									<%= link_to "View", product, class:"btn btn-primary" %>
								</div>
							<%end%>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>