<h1><%= @user.first_name %> <%= @user.last_name %>'s Page </h1>

<h2> Orders Waiting to be Picked Up </h2>

    <table class = "table">
      <thead>
        <tr>
          <th>Order Id</th>
          <th>Name</th>
          <th>Status</th>
          <th>Total Cost</th>
          <th>User Email</th>
          <th>Pick Up At</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
   			<% if current_user.id == order.user_id && order.status == 'Ready for Pick Up' %>
	        	<tr>
		            <td><%= order.id %></td>
		            <td><%= order.first_name %> <%= order.last_name %></td>
		            <td><%= order.status%></td>
                <td><%= order.subtotal%></td>
		            <td><%= order.email %></td>
                <% if order.status == "Ready for Pick Up" %>
                  <% if order.pick_up_date.nil? %>
                    <td><%= link_to 'Add Pick Up Time', edit_order_path(order) %></td>
                  <% else %>
                    <% if order.pick_up_time.min == 0%>
                      <td><%= order.pick_up_date %> <br/> 
                      <%= order.pick_up_time.hour %>:00<br/>
                    <%else%>
                      <td><%= order.pick_up_date %> <br/> 
                      <%= order.pick_up_time.hour %>:<%=order.pick_up_time.min %><br/>
                    <%end%>
                  <%end%>
                <%end%>              
		            <td><%= link_to 'Show', order %></td>
                <% if current_user.admin? %>
                  <td><%= link_to 'Update', edit_order_path(order) %></td>
                <%end%>
	          	</tr>
			<%end%>
        <% end %>
      </tbody>
    </table>

<%= link_to "All My Orders", orders_path %>