<%= simple_form_for @product do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :gluten_free %>
    <%= form.check_box :gluten_free %>
  </div>

  <div class="field">
    <%= form.label :dairy_free %>
    <%= form.check_box :dairy_free %>
  </div>

  <div class="field">
    <%= form.label :contains_peanuts %>
    <%= form.check_box :contains_peanuts %>
  </div>

  <div class="field">
    <%= form.label :sold_out %>
    <%= form.check_box :sold_out %>
  </div>

  <div class="field">
    <%= form.label :featured %>
    <%= form.check_box :featured %>
  </div>

  <div class = "field">
    <%= form.label :category %>
    <%= form.select :category_id, options_from_collection_for_select(Category.all, :id, :heading, @product.category.id) %>
  </div>

  <div class = "field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :mult_size %>
    <%= form.check_box :mult_size %>
  </div>


  <div clas = "field">
    <%= form.label :priceDiff, "Additional Price for different Sizes" %>
    <div id = "price-field">
      <%= form.input :priceDiff, as: :array %>
    </div>
    <div id="addRow"></div>
    <button type="button" class="btn btn-secondary" onclick="addPriceRow()">Add Price Change</button>
  </div>

  <div class = "field">
    <%= form.label :sizes %>
    <div id = "size-field">
      <%= form.input :sizes, as: :array %>
    </div>
    <div id = "dynamic-inputs"></div>
    <button type="button" class="btn btn-secondary" onclick="addSizeRow()">Add Size</button>
  </div>

  <br/><br/>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<script>
  function addSizeRow() {
    $("#dynamic-inputs").append($("#size-field").html());
  }

  function addPriceRow() {
    $("#addRow").append($("#price-field").html());
  }

  function submiForm() {
    let data = []
    $("[name='label']").each((i, item)=>
    {
      data.push({'label': item.value, 'amount':  $("[name='amount']")[i].value})
    })
    console.log({'quote_amounts': data})
    $.ajax({
        url: 'urlOfYourActionController',
        data: {'quote_amounts': data},
        type: 'POST',
        success: function(data){
            // handle your success here
            console.log(data);
        }
    });
  }
</script>



